{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
        <div class = dash>DASHBOARD</div>

        {% for row in rows %}
        <div class = type>{{ row["activity"] }}</div>
        <div class = dash>Total: {{ row["total"] }}</div>
        <div class = dash>Goal: {{ row["goal"] }}</div>
        {% for i in range (((1-row["number"]) * 7), (((1-row["number"]) * 7)+7)) %}
			<div class = {{ row["activity"] }}> {{ array[i] }}</div>
        {% endfor %}
        <div class = graph>
            <canvas id="{{ row["activity"] }}" width="400" height="400" ></canvas>
        </div>
        <div class = graph>
            <canvas id="{{ row["activity"] }}" width="400" height="400" ></canvas>
        </div>
        {% endfor %}
        <script>

    window.onload = function () {
	var data=[];
	var types = document.querySelectorAll('.type').length;
	console.log(types);
	for (var f = 0; f < 1; i++)
	{
		var type = document.querySelectorAll('.type')[f].innerHTML;
		var num = (document.querySelectorAll(`.${type}`).length);
		console.log(num);
		console.log("hi");
		for (var i = 0; i < num; i++)
		{
			data.push(document.querySelectorAll(`.${type}`)[i].innerHTML);
		}
		console.log(data);
		Chart.defaults.global.legend.display = false;
		const CHART = document.getElementById(`${type}`);
		var myBarChart = new Chart(CHART, {
	    type: 'line',
	            data: {
	                labels: ["January", "February", "March", "April", "May", "June", "July"],
	                datasets: [{
	                        label: "My First dataset",
	                        data: data,
	                        fill: false,
	                        backgroundColor: "#CD1919 ",
	                        borderColor: "#CD1919",
	                        borderCapStyle: 'butt',
	                        borderDash: [5, 5],
	                    }]
	            },
	            options: {
	                responsive: true,
	                legend: {
	                    position: 'bottom',
	                },
	                hover: {
	                    mode: 'label'
	                },
	                scales: {
	                    xAxes: [{
	                            display: true,
	                            scaleLabel: {
	                                display: true,
	                                labelString: 'Month'
	                            }
	                        }],
	                    yAxes: [{
	                            display: true,
	                            ticks: {
	                                beginAtZero: true,
	                                steps: 2,
	                                stepValue: 5,
	                                max: 10
	                            }
	                        }]
	                },
	                title: {
	                    display: true,
	                    text: 'Chart.js Line Chart - Legend'
	                }
	            }

	});
	}
}


        </script>
{% endblock %}


