{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
<form action="/dash" method="post">
        <span class="dash">
			Dashboard
		</span>

        {% for row in rows %}
        <div class = card>
	        <div class = type>{{ row["activity"] }}</div>
	        <div class = hide>
	        {% for i in range (((row["number"]-1) * 7), (((row["number"]-1) * 7)+7)) %}
				<div class = {{ row["activity"] }}> {{ array[i] }}</div>
				<div class = d{{ row["activity"] }}> {{ day[i] }}</div>
	        {% endfor %}
	        </div>
	        <div class = graph>
	            <canvas id="{{ row["activity"] }}" width="400" height="400" ></canvas>
	        </div>
	        <br />
	        <br />
	        {% if row["total"] == None %}
				<div class = stat>Total: 0 hours</div>
			{%else%}
				<div class = stat>Total: {{ row["total"] }} hours</div>
	        {%endif%}
        	<div class = stat>Goal: {{ row["goal"] }} hours</div>

	    {% endfor %}
	    {% for row in rows %}
		</div>
		</div>
		</div>
		{% endfor %}
        <br />
	    <br />
        <footer id="footer">
		<span class="copyright">
			&copy; Copyright 2018 Shan Rizvi. All rights reserved.</a>
		</span>
	</footer>
</form>
        <script>

	$(document).scroll(function() {
		    var y = $(this).scrollTop();
			if (y > 800) {
		    $(".card").fadeIn();
			}
	});


    window.onload = function () {

	var types = document.querySelectorAll('.type').length;
	for (var f = 0; f < types; f++)
	{
		var data=[];
		var day =[];
		var type = document.querySelectorAll('.type')[f].innerHTML;
		var num = (document.querySelectorAll(`.${type}`).length);



		for (var i = 0; i < num; i++)
		{
			data.push(document.querySelectorAll(`.${type}`)[i].innerHTML);
			day.push(document.querySelectorAll(`.d${type}`)[i].innerHTML);
		}
		day.forEach(function (part, index, theArray)
		{
			theArray[index] = part.substr(0,11);
		})
		//set max y
		max = Math.max(...data);

		while (max % 5 != 0)
		{
			max++;
		}
		if (max == 0)
		{
			max = 5;
		}

		Chart.defaults.global.legend.display = false;
		const CHART = document.getElementById(`${type}`);
		var myBarChart = new Chart(CHART, {
	    type: 'line',
        data: {
            labels: day,
            datasets: [{
                data: data,
                fill: true,
                backgroundColor: "rgba(51, 116, 221, .3)",
                borderColor: "rgb(50, 122, 239)",
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'bottom',
            },
            hover: {
                mode: 'label'
            },
            scales: {
	            xAxes: [{
	                    display: true,
	                    scaleLabel: {
	                        display: true,
	                        labelString: 'Day'
	                    }
	                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Hours'
                    },
                    ticks: {
                        beginAtZero: true,
                        max: max
                    }
                }]
            },
            title: {
                display: false,
                text: `${type}`
            }

        }


	});
	}
}


        </script>
{% endblock %}


