{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
        <div class = dash>DASHBOARD</div>
        {% for row in rows %}
        <div class = dash>{{ row["activity"] }}</div>
        <div class = graph>
            <canvas id="myChart" width="400" height="400" data = "4" ></canvas>
        </div>
        {% endfor %}
        <script>

    window.onload = function () {
    hours = [];
    {% for row in rows %}
    	hours.push(row["goal"]);
    {% endfor %}

}
	Chart.defaults.global.legend.display = false;
	const CHART = document.getElementById("myChart");
	var myBarChart = new Chart(CHART, {
    type: 'bar',
    data: {
	labels: ["January", "February", "March", "April", "May", "June", "July"],
	datasets: [
		{
			label: "a",
			fill: false,
			lineTension: 0.1,
			backgroundColor: "rgba(75,192,192,0.4)",
			borderColor: "rgba(75,192,192,1)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'miter',
			pointBorderColor: "rgba(75,192,192,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(75,192,192,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			spanGaps: false,
			data: hours,
		}
	]

}


});
}
        </script>
{% endblock %}

